* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	background-color: #EEEEEE;
}

h1.main-title {
	color: #000000;
	font-family: 'Poppins', Arial, sans-serif;
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 50px;
	margin-top: 80px;
}


.clear {
	clear: both;
}

/*All events page*/


.events-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 1vw;
	grid-row-gap: 1vw;
	margin-top: 30px;
}


.event {
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	background-color: #ffffff;
	cursor: pointer;
}

.event-image-div {
	position: relative;
	width: 100%;
}

.event-image-div img {
	width: 100%;
	margin: 0;
	padding: 0;
	display: block;
}

.event-date {
	position: absolute;
	background-color: #D9D9D9;
	bottom: 0;
	left: 5px;
	padding: 2px 10px 0 10px;
	color: #111111;
	font-family: 'Rubik', Arial, sans-serif;
	font-size: 10px;
	font-weight: 500;
	border-radius: 5px 5px 0 0;
}

.event-content-box {
	width: 100%;
	padding-inline: 10px;
	color: #111111;
	margin-top: 15px;
}

.event-content-box h4 {
	font-family: 'Poppins', Arial, sans-serif;
	font-size: 16px;
	font-weight: 900;
}

.event-content-box p {
	font-family: 'Rubik', Arial, sans-serif;
	font-size: 14px;
}



@media only screen and (max-width: 800px) {

	.events-content {
		grid-template-columns: repeat(2, 1fr);
	}

}

@media only screen and (max-width: 600px) {

	.events-content {
		grid-template-columns: 1fr;
	}

}


